/* ! Element Selector */
/* h1 { */
/* color: green; */
/* } */

/* h2 { */
/* color: purple; */
/* } */

/* p { */
/* color: grey; */
/* } */

/* ! Grouping Selector */
/* 
h1,
h2,
p {
  color: red;
} */

/* ! ID Selector */

/* #header-title { */
/* color: green; */
/* } */

/* #footer-title { */
/* color: orange; */
/* background: #000; */
/* } */

/* ! Class Selector */

/* .green { */
/* color: green; */
/* } */

/* .red { */
/* color: red; */
/* } */

/* ! div and Span Elements */
/* # div - used to group multiple elements */
/* # span - used to group inline content */

/* .red { */
/* color: red; */
/* background: black; */
/* } */

/* .green { */
/* color: green; */
/* background: #333; */
/* } */

/* span { */
/* text-transform: uppercase; */
/* } */

/* .text { */
/* background: white; */
/* color: blue; */
/* } */

/* ! Inheritance in Css */
/* # the child element inherit styles from the parent element 
   # anless the child element has his own styles */

body {
  color: orangered;
}

.special {
  color: green;
}

h2 {
  color: blue;
}

div {
  color: grey;
  border: 1px solid black;
}
