/* ! Element Selector */
/* h1 { */
/* color: green; */
/* } */

/* h2 { */
/* color: purple; */
/* } */

/* p { */
/* color: grey; */
/* } */

/* ! Grouping Selector */
/* 
h1,
h2,
p {
  color: red;
} */

/* ! ID Selector */

/* #header-title { */
/* color: green; */
/* } */

/* #footer-title { */
/* color: orange; */
/* background: #000; */
/* } */

/* ! Class Selector */

.green {
  color: green;
}

.red {
  color: red;
}

.uppercase {
  text-transform: uppercase;
}
