/* ! Color Properties */
/* ! Color Background-Color , Background */

/* # Color Names > 140 */
#first {
  color: white;
  background-color: black;
}

#secound {
  color: orangered;
  background: yellow;
}

/* # */
