/* # HEX */

#first {
  color: #ff0000;
  background: #000;
}

#secound {
  color: #fff;
  background: #000;
}

#three {
  color: #00ff00;
  background: #000;
}

#four {
  color: #f15025;
  background: #000;
}
