div {
    border-top: 3px solid #d6336c;
    background: #ffe70e;
    margin-top: 40px;
}

.one {
    background : #1098ad;
    color: #fff;
}

.two {
    background : #51cf66;
    color: #fff;
}

.special {
    background : #d6336c;
    font-size: 20px;
    color: #333;
}