body {
    background: #003566;
}

.banner {
    background : #d6336c;
}

h1 {
    color: #fff;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}


/*  min-width : Starting from */
/*  max-width : up to */
@media screen and (max-width: 576px)
{
    body {
        background : #51cf66;
    }
    
    h1 {
        color: #000;
    }
}

/*@media screen and (min-width: 768px)*/
/*{*/
/*    body {*/
/*        background : #eb984e;*/
/*    }*/

/*    h1 {*/
/*        color: #7048e8;*/
/*    }*/
/*}*/














