p::before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius : 50%;
    display: block;
    background: #7048e8;
    font-weight: bold;
    font-size: 2rem;
    color: #333;
}

p::after {
    display: block;
    background: #7048e8;
    content: "After .";
    font-weight: bold;
    font-size: 2rem;
    color: #333;
}