
h1, p {
    color: white;
}

h1 {
    background: #d6336c;
    padding: 10px;
    border: 15px solid #000000;
}

p {
    background: #5f3dc4;
    padding: 25px;
    border: 7px solid #1ea461;
    border-radius: 50%;
    margin-top: -10px;
}