* {
    margin : 0;
}


h1 , p {
    color: white;
}

h1 {
    background: #d6336c;
    padding: 20px;
    margin: 20px;
    /*border-style: solid;*/
    /*border-width: 10px;*/
    /*border-color: #1ea461;*/
    border : 5px solid #645cff;
}

p {
    background : #5f3dc4; 
    padding: 20px 30px;
    margin : 0px 20px;
    border : 9px dashed #1ea461;
}