* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    min-height: 100vh;
    height: 300px;
    color: #fff;
    border-top: 5px solid orangered;
    font-size: 2rem;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
}

.big-img {
    background: url("./big.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.small-img {
    background: url("./images/folder-img.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-attachment: fixed;
    
    
}

.folder-img {
    background: 
            linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)) , 
            url("./big.jpeg") center/cover no-repeat fixed;
}

