div {
    width: 200px;
    height: 100px;
    color: #fff;
    margin: 10px;
}

.transition {
    background : #d6336c;
    transition: all 2s linear;
}

.transition:hover {
    background : #7048e8;
    transform: translateX(100px);
} 


.animation {
    background : #099268;
    /*animation-name: move;*/
    /*animation-duration: 10s;*/
    /*animation-iteration-count: infinite;*/
    animation : move 5s infinite;
}

@keyframes move {
    0% {
        transform: translateX(20px);
    }
    
    50% {
        transform: translateX(100px);
        background : #eb984e;
    }
    
    75% {
        transform: translateX(-100px);
        background : #eb984e;
    }
    
    100% {
        transform: translateX(20px);
        background : #bb2525;
    }
}