a {
    display: block;
    background-color: #7048e8;
    margin: 10px;
    color: #000;
    font-weight: bold;
}

a:link {
    color: #fff;
}

a:visited {
    color: #d6336c;
}
 a:active {
     color: #1098ad;
 }