div {
    width: 150px;
    height: 150px;
    display: inline-block;
}

.one {
    background: #d6336c;
    transform: translateX(50%);
}

.two {
    background: #099268;
    transform: translateY(50%);
}

.three {
    background: #7048e8;
    transform: translate(50% , 50%);
}