@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Roboto:ital,wght@0,400;0,700;1,500&family=Trade+Winds&display=swap');

body {
    font-family: "Roboto", sans-serif;
    text-align: right;
}


.main-heading{
    font-family: "Trade Winds", cursive;
    text-align: center;
}

.one {
}


.sub-heading {
}

.two {
    text-align: left;
    text-indent: 6rem;
}
