/* 
! Calc() : Perform Math Operations , Mix and Match Values 
*/

* {
  margin: 0;
}

.nav {
  background : #1098ad;
  height : 100px;
  color : White;
  font-size : 3rem;
}

.banner {
  background : #5f3dc4;
  height : Calc(100vh - 100px);
}


